@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.title
{
    font-family: 'Bangers';
    font-size: 45px;
    width: '100%';
     margin-top: '2rem';
      margin-bottom: '2rem';
      margin-left: '25rem'
}